@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans';
    /* border: 2px solid red; */
}

.primary-color{
    color: #FF42A5;
}
.liner-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-weight: 800;
}


/* nav design start here */

nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    /* border: 2px solid red; */
}

.nav-container {
    /* min-height: 100px; */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
}

.logo-container{
    display: flex;
    /* width: 50%; */
    font-size: 45px;
    font-weight: 700;
}

.items-container a{
    text-decoration: none;

}

.items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    text-align: end;
}
.follow-btn{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 20px;
    justify-content: center;
    /* color: black; */
    /* width: 100%; */
    /* gap: 20px; */
}

/* banner-container section start here */

.banner-container {
    display: flex;
    width: 80%;
    /* border: 1px solid red; */
    margin: 0 auto;
}

.banner-content {
    width: 50%;
    background-image: url(images/Group14.png);
    background-repeat: no-repeat;
    /* border: 2px solid green; */
}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 100%;
}

.title-text {
    color: #0B0223;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    font-size: ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
}

.btn-group {
    margin-top: 50px;
}

.btn-primary {
    background-color: #FF42A5;
    border-radius: 30px;
    font-style: normal;
    font-weight: 600;
    color: #FFF;
    width: 50%;
    /* font-size: 20px; */
    padding: 15px 25px;
    text-transform: uppercase;
}

.btn-2nd {
    border-radius: 30px;
    background: #4EC5F7;
    font-style: normal;
    font-weight: 600;
    color: #FFF;
    /* font-size: 20px; */
    padding: 15px 25px;
    text-transform: uppercase;
}

/* we-are-gamer-container section start */

.we-are-gamer-container {
    width: 80%;
    margin: auto;
    /* border: 2px solid red; */
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.we-are-gamer-img {
    width: 50%;
}
.we-are-gamer-img img {
    width: 100%;
    justify-content: center;
    align-items: center;
}
.we-are-gamer-contain {
    text-align: right;
    width: 50%;
}
.we-are-btn{
    margin-top: 40px;
    background-color: #FF42A5;
    border-radius: 30px;
    text-align: end;
    font-weight: 600;
    color: #FFF;
    width: 50%;
    padding: 15px 25px;
}

/* we-are-gamer-container section end  */


/* online-games-container section start here  */

.online-games-container {
    text-align: center;
}

.card-group {
    display: grid;
    width: 80%;
    margin: 50px auto 0;
    min-height: 400px;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.single-product {
    border-radius: 10px;
}
.single-product :hover{
    opacity: 0.5;
}


.single-product img {
    width: 70%;
    display: block;
    margin: 0 auto;
}

.single-product-one{
    background-blend-mode:;
}
/* play-instantly-container start here  */

.play-instantly-container {
    display: flex;
    /* border: 2px solid rosybrown; */
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}
.play-instantly-section {
    width: 80%;
    margin: auto;
}
.play-instantly-text{
    width: 30%;
    margin: auto;
    text-align: right;
}
.play-instantly-img {
    /* width: 50%; */
    position: relative;
    /* width: 34px;
    height: 50px; */
    width: 40%;
}

.play-instantly-img img {
    width: 50%;
    position: relative;
    width: 334px;
    height: 350px;
    flex-shrink: 0;
}

.play-instantly-girl img {
    width: 70%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.play-instantly-girl {
    height: 200px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -5%;
    right: 80%;
}

/* play-instantly-container end here  */

/* Play Games Online Anywhere Anytime section start here */

.play-games-online-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto 40px;
}
.play-games-online-section {
    width: 80%;
    /* border: 2px solid rosybrown; */
    margin: auto;
    align-items: center;
}
.play-games-online-text{
    width: 30%;
    margin: auto;
    text-align: left;
}
.play-games-online-img {
    width: 50%;
    position: relative;
    width: 334px;
    height: 350px;
}

.play-games-online-img img {
    width: 50%;
    position: relative;
    width: 334px;
    height: 350px;
}

.play-games-online-girl img {
    width: 70%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.play-games-online-girl {
    height: 200px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 5%;
    left:80%;
}
/* Play Games Online Anywhere Anytime section end here */

/* Careers section start here  */

.careers-full-container {
    background-color: #F948B2;
}

.careers-container {
    display: flex;
    /* border: 2px solid rosybrown; */
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.careers-text-contain {
    width: 50%;
    align-items: center;
    justify-content: center;
}

.multimedia-container {
    display: flex;
    gap: 50px;
    /* justify-content: center;
    align-items: center; */

}

.multimedia-address {
    text-align: right;
}

.white-btn {
    background-color: #FFF;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    color: #F948B2;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 10px;
}

.careers-img img{
    width: 100%;
}

/* Careers section end here  */

/* games-type-container start here */

.games-types-grid-container {
    /* border: 2px solid #0B0223; */
    margin: 50px auto 0px;
    min-height: 200px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}
.single-game img p {
    justify-content: center;
    align-items: center;
    margin: auto;
}


/* games-types-grid-container start here  */
.items-group{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    justify-content: center;
}
.single-game{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.single-game>img{
    height: 40px;
}
.items-group :hover{
    border: 2px solid #F948B2;
    color: #F948B2;
    border-radius: 20px;
}


/* games-type-container end here */

/* here is the footer style here  */
footer {
    background-color: #0B0223;
    min-height: 400px;
    padding: 50px 0px;
}

.footer-logo-title {
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-menus a {
    text-decoration: none;
    padding: 5px;
    color: #FFF;
}

.footer-menus {
    text-align: center;
}

.footer-social-icons{
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #FFF;
    margin-top: 40px;
    margin-bottom: 40px;
}
footer>.footer-color a {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 12px;
}
footer>.footer-color p{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 12px;
}

